@media screen and (max-width: 1110px) {
    i{font-size: 10em;}
    #myCarousel{
    max-width: 100%;
    margin: auto;
}
    }
@media screen and (max-width: 767px) {
    i{font-size: 5em;}
    }
@media screen and (max-width: 400px) {
    i{font-size: 3em;}
    }